@import "tailwindcss";
@import "@heroui/styles";

@keyframes floatBG {
  0%,
  100% {
    background-position: center center;
  }
  25% {
    background-position: 30% 70%;
  }
  50% {
    background-position: 70% 30%;
  }
  75% {
    background-position: 40% 60%;
  }
}

@keyframes floaty {
  0% {
    transform: translateY(0px) rotate(-0.3deg);
  }
  50% {
    transform: translateY(-10px) rotate(0.3deg);
  }
  100% {
    transform: translateY(0px) rotate(-0.3deg);
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
